<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level [%thread] %C{100} %M - %msg%n"/>
    </Console>
    <RollingFile fileName="${env:SM_HOME}/instance/serverless/sys/netty.log"
      filePattern="${env:SM_HOME}/instance/serverless/sys/%d{yyyy_MM_dd}/netty.log"
      name="netty">
      <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level [%thread] %C{100} %M - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
    <RollingFile fileName="${env:SM_HOME}/instance/serverless/sys/serverless.log"
      filePattern="${env:SM_HOME}/instance/serverless/sys/%d{yyyy_MM_dd}/serverless.log"
      name="serverless">
      <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level [%thread] %C{100} %M - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
  </Appenders>

  <!-- 콘솔, 파일에 찍을 때 형식 및 설정 셋팅-->
  <Loggers>
    <Root additivity="false" level="all">
      <AppenderRef ref="serverless"/>
    </Root>

    <logger additivity="false" level="all" name="io.netty">
      <AppenderRef ref="netty"/> <!-- 콘솔에 로그 찍겠단 뜻 -->
      <AppenderRef ref="serverless"/>
    </logger>

    <logger additivity="false" level="all" name="com.tmax.serverless">
      <AppenderRef ref="serverless"/>
    </logger>
  </Loggers>

  <Properties>
    <Property name="logName">Log4j2LogFile</Property>
    <Property name="layoutPattern">[%d] %-5level [%thread] %C{100} %M - %msg%n</Property>
  </Properties>
</Configuration>
